# all hosts
#Host *
#  AddKeysToAgent yes
#  IdentityFile ~/.ssh/id_ed25519
#  IdentityFile ~/.ssh/id_ecdsa
#  IdentityFile ~/.ssh/id_rsa
#{{- if (eq .chezmoi.os "darwin") }}
#  IgnoreUnknown UseKeychain
#  UseKeychain yes
#{{- end }}

Host *.kapsi.fi
  User samip537

Host tyrni
  User skym
  HostName tyrni.kapsi.fi
  ForwardAgent yes

Host *.pikaviestin.fi
  User samip537

Host genpi-builder
  User ubuntu
  HostName 158.101.215.51

Host dh
  User sm
  Hostname dh.samip.dev

Host ns1
  User sm
  Hostname ns1.samipsolutions.fi
