#Host *
#  AddKeysToAgent yes
#  IdentityFile ~/.ssh/id_ed25519
#  IdentityFile ~/.ssh/id_ecdsa
#  IdentityFile ~/.ssh/id_rsa
#{{- if (eq .chezmoi.os "darwin") }}
#  IgnoreUnknown UseKeychain
#  UseKeychain yes
#{{- end }}


Host *
    StrictHostKeyChecking no
    PasswordAuthentication yes
    ServerAliveInterval 300
    ServerAliveCountMax 2


Include config.d/*


Host home-srv
  HostName 192.168.2.10
  User sm


Host *.skylab.fi
  User sm

# Kapsi things

Host takaovi.kapsi.fi
  User skym

Host *.n.kapsi.fi
  User skym
  ForwardAgent yes

Host *.kapsi.fi
  User samip537

Host lakka
  HostName lakka.kapsi.fi

Host hilla
  HostName hilla.kapsi.fi

Host wa
  HostName webapp-bullseye.kapsi.fi
  User samip537


Host tyrni
  User skym
#  HostName tyrni.n.kapsi.fi
  HostName tyrni.kapsi.fi
  ForwardAgent yes
  #LocalForward 5466 ldap.n.kapsi.fi:636
  #LocalForward 8080 puska2.n.kapsi.fi:8006

Host *.pikaviestin.fi
  User samip537

Host genpi-builder
  User ubuntu
  HostName 158.101.197.80

Host dh
  User sm
  Port 6666
  Hostname s.dh.skylab.fi
  #Hostname dh.samip.dev

#Host *.samipsolutions.fi
#  User sm

Host home-gw
  User sm
  HostName 192.168.2.1
  HostName 2001:67c:1104:f00::1
  IdentityFile ~/.ssh/id_routers

Host agent-lakka
  User samip537
  HostName lakka.kapsi.fi
  ForwardAgent yes
  IdentitiesOnly yes

Host *.fh
  User sky
  Port 22777
  IdentityFile ~/.ssh/id_ed25519
  #ForwardAgent yes


Host *.vector.fi
  User root

Host *.infra.vectorama.fi
  User root



Host sw1.bos
  Hostname 173.237.194.130
  User sky
  ForwardAgent yes

